.centered-600
  %h1 A simple <span class="text-info">inspirational quotes</span> app

  %ul
    %li Register for free
    %li Add quotes that inspire you; tag, filter, and search so you can find the relevant quote
    %li Every morning, you'll receive a random quote in your email inbox
    %li Not much else at the moment

  %p Made by <a href="http://www.topherhunt.com" target="_blank">Topher Hunt</a>. View source, contribute, or fork on <a href="https://github.com/topherhunt/quotes" target="_blank">Github</a>.
